<div class="container mt-5 d-flex flex-column justify-content-center align-items-center gris ">
    <div class="mb-3"><h1>El ahorcado</h1></div>
    <div id="teclado" class="container d-flex flex-row flex-wrap justify-content-center align-items-center col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mx-0 px-0">
        <button *ngFor="let letra of letras" id="{{ letra.toLowerCase() }}" type="button" class="btn btn-secondary" (click)="elegirLetra(letra.toLowerCase())" [disabled]="this.deshabilitado">{{ letra }}</button>
    </div>
    <div><img #imagen id="imagen"  class="img-fluid" src="https://jadigar.neocities.org/codepen/ahorcado-0.jpg" alt="ahorcado" ></div>
    
    <div id="container" class="display-4 text-center palabra-juego" [innerHTML]="palabraJuego"></div>
    <div id="fallos" class="mt-3">con 6 fallos el muñequin será ahorcado<br></div>
</div>
    <!-- <div class="contador">Hangi ha muerto <span id="lost">0</span> veces<br>Has acertado <span id="win">0</span> palabras</div> -->